# Ignore Python cache files
file_vtt/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
# Ignore lock files
models/.locks/
*.lock
# Ignore other common files
*.log
*.bak
*.swp
*.db
*.sqlite
chatbot
*.docx
credentials.json
.env
.env.*
/file_vtt
/file_*
/Triết_*
log*




